@model IEnumerable<Agenda.Modelos.AgendaListViewModels>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_tarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_reg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nota01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nota02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nota03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_comp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_tarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_reg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nota01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nota02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nota03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_comp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
